allow mediaserver camera_prop:property_service set;
allow mediaserver socket_device:sock_file write;
allow mediaserver thermal-engine:unix_stream_socket connectto;
