allow mediaserver persist_drm_file:dir search;
allow mediaserver persist_drm_file:file rw_file_perms;
allow mediaserver socket_device:sock_file write;
