allow thermal-engine servicemanager:binder call;
allow thermal-engine sysfs_usb_supply:dir search;
allow thermal-engine sysfs_usb_supply:file r_file_perms;
allow thermal-engine system_server:binder call;
