allow thermal-engine self:socket write;
allow thermal-engine self:capability chown;
allow thermal-engine servicemanager:binder call;
allow thermal-engine sysfs:file write;
allow thermal-engine socket_device:dir w_dir_perms;
allow thermal-engine socket_device:sock_file { create setattr };
allow thermal-engine sysfs_usb_supply:dir search;
allow thermal-engine sysfs_usb_supply:file r_file_perms;
allow thermal-engine thermal_socket:sock_file unlink;
