#
# initialize and configure zram/swap including some tweaks related.
#
service svelteon /system/bin/logwrapper /system/bin/sh /system/etc/init.lge.svelte.sh start
	user root
	group system
	disabled
	oneshot

#
# deinit the zram/swap
#
service svelteoff /system/bin/logwrapper /system/bin/sh /system/etc/init.lge.svelte.sh stop
	user root
	group system
	disabled
	oneshot

#
# The below is not only the project "Svelte", but also LGE's feature-added svelte.
#

on property:ro.boot.svelte=1
	# initialize zram/swap, ksm
	start svelteon
