service lge-usb-sh /system/bin/sh /init.lge.usb.sh
     class core
     user root
     oneshot

service lge-cmm-usb-sh /system/bin/sh /init.lge.cmm.usb.sh
    class core
    user root
    oneshot
    disabled

on post-fs-data
    chown system system /sys/class/android_usb/android0/f_cdrom_storage/lun/cdrom_usbmode
    chmod 0660 /sys/class/android_usb/android0/f_cdrom_storage/lun/cdrom_usbmode

on property:sys.usb.provisioned=1
    start lge-cmm-usb-sh

# default on boot if persist not defined
on property:sys.usb.config=acm,diag,mtp
	 write /sys/class/android_usb/android0/enable 0
	 write /sys/class/android_usb/android0/idVendor 1004
	 write /sys/class/android_usb/android0/idProduct 61F1
	 write /sys/class/android_usb/android0/bDeviceClass 239
	 write /sys/class/android_usb/android0/bDeviceSubClass 2
	 write /sys/class/android_usb/android0/bDeviceProtocol 1
	 write /sys/class/android_usb/android0/f_acm/acm_transports tty
	 write /sys/class/android_usb/android0/f_diag/clients diag
	 write /sys/class/android_usb/android0/functions acm,diag,mtp
	 write /sys/class/android_usb/android0/enable 1
	 setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=acm,diag,mtp,adb
	 write /sys/class/android_usb/android0/enable 0
	 write /sys/class/android_usb/android0/idVendor 1004
	 write /sys/class/android_usb/android0/idProduct 61F1
	 write /sys/class/android_usb/android0/bDeviceClass 239
	 write /sys/class/android_usb/android0/bDeviceSubClass 2
	 write /sys/class/android_usb/android0/bDeviceProtocol 1
	 write /sys/class/android_usb/android0/f_acm/acm_transports tty
	 write /sys/class/android_usb/android0/f_diag/clients diag
	 write /sys/class/android_usb/android0/functions acm,diag,mtp,adb
	 write /sys/class/android_usb/android0/enable 1
	 start adbd
	 setprop sys.usb.state ${sys.usb.config}

# acm modem
on property:sys.usb.config=acm
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 1004
    write /sys/class/android_usb/android0/idProduct 61FC
    write /sys/class/android_usb/android0/bDeviceClass 239
    write /sys/class/android_usb/android0/bDeviceSubClass 2
    write /sys/class/android_usb/android0/bDeviceProtocol 1
    write /sys/class/android_usb/android0/f_acm/acm_transports tty
    write /sys/class/android_usb/android0/f_diag/clients diag
    write /sys/class/android_usb/android0/functions acm,diag,ecm,mass_storage
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=acm,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 1004
    write /sys/class/android_usb/android0/idProduct 61FC
    write /sys/class/android_usb/android0/bDeviceClass 239
    write /sys/class/android_usb/android0/bDeviceSubClass 2
    write /sys/class/android_usb/android0/bDeviceProtocol 1
    write /sys/class/android_usb/android0/f_acm/acm_transports tty
    write /sys/class/android_usb/android0/f_diag/clients diag
    write /sys/class/android_usb/android0/functions acm,diag,ecm,mass_storage,adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

# mass storage only
on property:sys.usb.config=mass_storage
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 1004
    write /sys/class/android_usb/android0/idProduct 632B
    write /sys/class/android_usb/android0/bDeviceClass 0
    write /sys/class/android_usb/android0/bDeviceSubClass 0
    write /sys/class/android_usb/android0/bDeviceProtocol 0
    write /sys/class/android_usb/android0/functions mass_storage
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mass_storage,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 1004
    write /sys/class/android_usb/android0/idProduct 61FA
    write /sys/class/android_usb/android0/bDeviceClass 239
    write /sys/class/android_usb/android0/bDeviceSubClass 2
    write /sys/class/android_usb/android0/bDeviceProtocol 1
    write /sys/class/android_usb/android0/f_acm/acm_transports tty
    write /sys/class/android_usb/android0/f_diag/clients diag
    write /sys/class/android_usb/android0/functions acm,diag,mass_storage,adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

# MTP & PTP
on property:sys.usb.config=mtp
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 1004
    write /sys/class/android_usb/android0/idProduct 61F1
    write /sys/class/android_usb/android0/bDeviceClass 239
    write /sys/class/android_usb/android0/bDeviceSubClass 2
    write /sys/class/android_usb/android0/bDeviceProtocol 1
    write /sys/class/android_usb/android0/f_acm/acm_transports tty
    write /sys/class/android_usb/android0/f_diag/clients diag
    write /sys/class/android_usb/android0/functions acm,diag,mtp
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 1004
    write /sys/class/android_usb/android0/idProduct 61F1
    write /sys/class/android_usb/android0/bDeviceClass 239
    write /sys/class/android_usb/android0/bDeviceSubClass 2
    write /sys/class/android_usb/android0/bDeviceProtocol 1
    write /sys/class/android_usb/android0/f_acm/acm_transports tty
    write /sys/class/android_usb/android0/f_diag/clients diag
    write /sys/class/android_usb/android0/functions acm,diag,mtp,adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=ptp
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 1004
    write /sys/class/android_usb/android0/idProduct 61F3
    write /sys/class/android_usb/android0/bDeviceClass 239
    write /sys/class/android_usb/android0/bDeviceSubClass 2
    write /sys/class/android_usb/android0/bDeviceProtocol 1
    write /sys/class/android_usb/android0/f_acm/acm_transports tty
    write /sys/class/android_usb/android0/f_diag/clients diag
    write /sys/class/android_usb/android0/functions acm,diag,ptp
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=ptp,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 1004
    write /sys/class/android_usb/android0/idProduct 61F3
    write /sys/class/android_usb/android0/bDeviceClass 239
    write /sys/class/android_usb/android0/bDeviceSubClass 2
    write /sys/class/android_usb/android0/bDeviceProtocol 1
    write /sys/class/android_usb/android0/f_acm/acm_transports tty
    write /sys/class/android_usb/android0/f_diag/clients diag
    write /sys/class/android_usb/android0/functions acm,diag,ptp,adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=cdrom_storage
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 1004
    write /sys/class/android_usb/android0/idProduct 632C
    write /sys/class/android_usb/android0/bDeviceClass 0
    write /sys/class/android_usb/android0/bDeviceSubClass 0
    write /sys/class/android_usb/android0/bDeviceProtocol 0
    write /sys/class/android_usb/android0/functions cdrom_storage
    write /sys/class/android_usb/android0/f_cdrom_storage/lun/file /system/usbautorun.iso
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=cdrom_storage,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 1004
    write /sys/class/android_usb/android0/idProduct 632C
    write /sys/class/android_usb/android0/bDeviceClass 0
    write /sys/class/android_usb/android0/bDeviceSubClass 0
    write /sys/class/android_usb/android0/bDeviceProtocol 0
    write /sys/class/android_usb/android0/functions cdrom_storage
    write /sys/class/android_usb/android0/f_cdrom_storage/lun/file /system/usbautorun.iso
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=charge_only
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 1004
    write /sys/class/android_usb/android0/idProduct 6300
    write /sys/class/android_usb/android0/bDeviceClass 0
    write /sys/class/android_usb/android0/bDeviceSubClass 0
    write /sys/class/android_usb/android0/bDeviceProtocol 0
    write /sys/class/android_usb/android0/functions charge_only
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=charge_only,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 1004
    write /sys/class/android_usb/android0/idProduct 6300
    write /sys/class/android_usb/android0/bDeviceClass 0
    write /sys/class/android_usb/android0/bDeviceSubClass 0
    write /sys/class/android_usb/android0/bDeviceProtocol 0
    write /sys/class/android_usb/android0/functions charge_only
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=factory
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 1004
    write /sys/class/android_usb/android0/idProduct 6000
    write /sys/class/android_usb/android0/bDeviceClass 2
    write /sys/class/android_usb/android0/bDeviceSubClass 0
    write /sys/class/android_usb/android0/bDeviceProtocol 0
    write /sys/class/android_usb/android0/iSerialNumber 0
    write /sys/class/android_usb/android0/f_acm/acm_transports tty
    write /sys/class/android_usb/android0/f_diag/clients diag
    write /sys/class/android_usb/android0/functions acm,diag
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=factory,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 1004
    write /sys/class/android_usb/android0/idProduct 6000
    write /sys/class/android_usb/android0/bDeviceClass 2
    write /sys/class/android_usb/android0/bDeviceSubClass 0
    write /sys/class/android_usb/android0/bDeviceProtocol 0
    write /sys/class/android_usb/android0/iSerialNumber 0
    write /sys/class/android_usb/android0/f_acm/acm_transports tty
    write /sys/class/android_usb/android0/f_diag/clients diag
    write /sys/class/android_usb/android0/functions acm,diag
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

#
# For USB Autorun (base on LG common USB Framework)
#
on property:sys.usb.config=boot
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 1004
    write /sys/class/android_usb/android0/idProduct 633E
    write /sys/class/android_usb/android0/bDeviceClass 0
    write /sys/class/android_usb/android0/bDeviceSubClass 0
    write /sys/class/android_usb/android0/bDeviceProtocol 0
    write /sys/class/android_usb/android0/f_acm/acm_transports tty
    write /sys/class/android_usb/android0/f_diag/clients diag
    write /sys/class/android_usb/android0/functions mtp:mtp,acm,diag
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=boot,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 1004
    write /sys/class/android_usb/android0/idProduct 633E
    write /sys/class/android_usb/android0/bDeviceClass 0
    write /sys/class/android_usb/android0/bDeviceSubClass 0
    write /sys/class/android_usb/android0/bDeviceProtocol 0
    write /sys/class/android_usb/android0/f_acm/acm_transports tty
    write /sys/class/android_usb/android0/f_diag/clients diag
    write /sys/class/android_usb/android0/functions mtp:mtp,acm,diag,adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=pc_suite
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 1004
    write /sys/class/android_usb/android0/idProduct 61F1
    write /sys/class/android_usb/android0/bDeviceClass 239
    write /sys/class/android_usb/android0/bDeviceSubClass 2
    write /sys/class/android_usb/android0/bDeviceProtocol 1
    write /sys/class/android_usb/android0/f_acm/acm_transports tty
    write /sys/class/android_usb/android0/f_diag/clients diag
    write /sys/class/android_usb/android0/functions acm,diag,mtp
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=pc_suite,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 1004
    write /sys/class/android_usb/android0/idProduct 61F1
    write /sys/class/android_usb/android0/bDeviceClass 239
    write /sys/class/android_usb/android0/bDeviceSubClass 2
    write /sys/class/android_usb/android0/bDeviceProtocol 1
    write /sys/class/android_usb/android0/f_acm/acm_transports tty
    write /sys/class/android_usb/android0/f_diag/clients diag
    write /sys/class/android_usb/android0/functions acm,diag,mtp,adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=ecm
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 1004
    write /sys/class/android_usb/android0/idProduct 61FE
    write /sys/class/android_usb/android0/bDeviceClass 239
    write /sys/class/android_usb/android0/bDeviceSubClass 2
    write /sys/class/android_usb/android0/bDeviceProtocol 1
    write /sys/class/android_usb/android0/f_acm/acm_transports tty
    write /sys/class/android_usb/android0/f_diag/clients diag
    write /sys/class/android_usb/android0/functions acm,diag,ecm
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=ecm,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 1004
    write /sys/class/android_usb/android0/idProduct 61FE
    write /sys/class/android_usb/android0/bDeviceClass 239
    write /sys/class/android_usb/android0/bDeviceSubClass 2
    write /sys/class/android_usb/android0/bDeviceProtocol 1
    write /sys/class/android_usb/android0/f_acm/acm_transports tty
    write /sys/class/android_usb/android0/f_diag/clients diag
    write /sys/class/android_usb/android0/functions acm,diag,ecm,adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp_only
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 1004
    write /sys/class/android_usb/android0/idProduct 631C
    write /sys/class/android_usb/android0/bDeviceClass 0
    write /sys/class/android_usb/android0/bDeviceSubClass 0
    write /sys/class/android_usb/android0/bDeviceProtocol 0
    write /sys/class/android_usb/android0/functions mtp
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp_only,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 1004
    write /sys/class/android_usb/android0/idProduct 61F9
    write /sys/class/android_usb/android0/bDeviceClass 0
    write /sys/class/android_usb/android0/bDeviceSubClass 0
    write /sys/class/android_usb/android0/bDeviceProtocol 0
    write /sys/class/android_usb/android0/f_acm/acm_transports tty
    write /sys/class/android_usb/android0/f_diag/clients diag
    write /sys/class/android_usb/android0/functions mtp,adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=ptp_only
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 1004
    write /sys/class/android_usb/android0/idProduct 631E
    write /sys/class/android_usb/android0/bDeviceClass 0
    write /sys/class/android_usb/android0/bDeviceSubClass 0
    write /sys/class/android_usb/android0/bDeviceProtocol 0
    write /sys/class/android_usb/android0/functions ptp
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=ptp_only,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 1004
    write /sys/class/android_usb/android0/idProduct 631D
    write /sys/class/android_usb/android0/bDeviceClass 0
    write /sys/class/android_usb/android0/bDeviceSubClass 0
    write /sys/class/android_usb/android0/bDeviceProtocol 0
    write /sys/class/android_usb/android0/f_acm/acm_transports tty
    write /sys/class/android_usb/android0/f_diag/clients diag
    write /sys/class/android_usb/android0/functions ptp,adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=qmicm
	write /sys/class/android_usb/android0/enable 0
	write /sys/class/android_usb/android0/idVendor 05C6
	write /sys/class/android_usb/android0/idProduct 9025
	write /sys/class/android_usb/android0/bDeviceClass 0
	write /sys/class/android_usb/android0/bDeviceSubClass 0
	write /sys/class/android_usb/android0/bDeviceProtocol 0
	write /sys/class/android_usb/android0/f_diag/clients diag
	write /sys/class/android_usb/android0/f_acm/acm_transports tty
	write /sys/class/android_usb/android0/f_rmnet/transports smd,bam
	write /sys/class/android_usb/android0/functions diag,adb,acm,rmnet
	write /sys/class/android_usb/android0/enable 1
	start adbd
	setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=qmicm,adb
	write /sys/class/android_usb/android0/enable 0
	write /sys/class/android_usb/android0/idVendor 05C6
	write /sys/class/android_usb/android0/idProduct 9025
	write /sys/class/android_usb/android0/bDeviceClass 0
	write /sys/class/android_usb/android0/bDeviceSubClass 0
	write /sys/class/android_usb/android0/bDeviceProtocol 0
	write /sys/class/android_usb/android0/f_diag/clients diag
	write /sys/class/android_usb/android0/f_acm/acm_transports tty
	write /sys/class/android_usb/android0/f_rmnet/transports smd,bam
	write /sys/class/android_usb/android0/functions diag,adb,acm,rmnet
	write /sys/class/android_usb/android0/enable 1
	start adbd
	setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=ncm
	write /sys/class/android_usb/android0/enable 0
	write /sys/class/android_usb/android0/idVendor 1004
	write /sys/class/android_usb/android0/idProduct 635B
	write /sys/class/android_usb/android0/bDeviceClass 2
	write /sys/class/android_usb/android0/bDeviceSubClass 0
	write /sys/class/android_usb/android0/bDeviceProtocol 0
	write /sys/class/android_usb/android0/functions ncm
	write /sys/class/android_usb/android0/enable 1
	setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=ncm,adb
	write /sys/class/android_usb/android0/enable 0
	write /sys/class/android_usb/android0/idVendor 1004
	write /sys/class/android_usb/android0/idProduct 635B
	write /sys/class/android_usb/android0/bDeviceClass 2
	write /sys/class/android_usb/android0/bDeviceSubClass 0
	write /sys/class/android_usb/android0/bDeviceProtocol 0
	write /sys/class/android_usb/android0/functions ncm
	write /sys/class/android_usb/android0/enable 1
	start adbd
	setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=auto_conf
	write /sys/class/android_usb/android0/enable 0
	write /sys/class/android_usb/android0/idVendor 1004
	write /sys/class/android_usb/android0/idProduct 633E
	write /sys/class/android_usb/android0/bDeviceClass 0
	write /sys/class/android_usb/android0/bDeviceSubClass 0
	write /sys/class/android_usb/android0/bDeviceProtocol 0
	write /sys/class/android_usb/android0/f_acm/acm_transports tty
	write /sys/class/android_usb/android0/f_diag/clients diag
	write /sys/class/android_usb/android0/functions mtp:mtp,acm,diag
	write /sys/class/android_usb/android0/enable 1
	setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=auto_conf,adb
	write /sys/class/android_usb/android0/enable 0
	write /sys/class/android_usb/android0/idVendor 1004
	write /sys/class/android_usb/android0/idProduct 633E
	write /sys/class/android_usb/android0/bDeviceClass 0
	write /sys/class/android_usb/android0/bDeviceSubClass 0
	write /sys/class/android_usb/android0/bDeviceProtocol 0
	write /sys/class/android_usb/android0/f_acm/acm_transports tty
	write /sys/class/android_usb/android0/f_diag/clients diag
	write /sys/class/android_usb/android0/functions mtp:mtp,acm,diag,adb
	write /sys/class/android_usb/android0/enable 1
	start adbd
	setprop sys.usb.state ${sys.usb.config}
